<div class="home-modal">
    <input id="home-modal-trigger" class="checkbox" type="checkbox" checked="checked">
    <div class="home-modal-overlay">
      <label for="home-modal-trigger" class="o-close"></label>
      <div class="home-modal-wrap a-center">
        <label for="home-modal-trigger" class="close"><i class="close"><%= image_tag 'home/modal/close.png', class: 'close-img' %></i></label>
        <h3>■ ■ ■このWEBサイトについて ■ ■ ■</h3>
            <p>こそだてに迷ったとき、困ったとき、感動したとき、などなど<br/>
            いろいろなこそだての場面でこのサイトに訪れて、癒されたり、共感したり、前向きな気持ちになったり．．．<br/>
            みんなで一緒にこそだてを楽しんでいければなーと思って立ち上げあたサイトです♪<br/>
            <br/>
            ●新規登録・ログインボタンを持った「くまさん」がかくれんぼをして遊んでまーす● みつけてね ●</p>
            <%= image_tag 'home/modal/modal.png', class: 'modal-img' %>
      </div>
    </div>
  </div>
  