<p><%= image_tag 'recipe/number/no2.png', class: 'number-img' %>いくらでも食べられちゃう！梅じそチーズ棒つくね</p>
<span>調理時:30分</span>
<span>冷蔵保存:5日</span>
<span>容量:保存容器大1個分</span>
<div class="recipe-more">
    <p class="recipe-click">+ recipe & ingredient +</p>
    <div class="recipe-contain">
        <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>美味しい！子供より大人が好む味ですが、うちの子供達はパクパク食べてましたー</p>
        <%= image_tag 'recipe/img/tsukune_oba_ume_cheese.jpg', class: 'recipe-img' %>
        <div class="ingredient">
          <p>● 材料 ●</p>
          <ul>
             <li>鶏むねひき肉  約３００ｇ</li>
             <li>はんぺん  大判１枚（１２０ｇ）</li>
             <li>大葉  ５枚</li>
             <li>梅干し  １～２粒</li>
             <li>◯砂糖  大１／２</li>
             <li>◯醤油  小１</li>
             <li>◯みりん  小１</li>
             <li>◯塩  少々</li>
             <li>◎チーズ  適量</li>
             <li>コーンスターチ  適量</li>
          </ul>
        </div>
        <div class="clear"></div>
        <div class="recipe-how-to-make">
          <p>● 作り方 ●</p>
          <p><span>1. </span>はんぺんは袋のうえから手でもんでつぶします。大葉はみじん切りにします。梅干しは種を取り、包丁やスプーンでたたいてペースト状にします。</p>
          <p><span>2. </span>ボウルに鶏ひき肉を入れ、粘りが出るまでこねます。はんぺんを入れてさらによくこねたら、大葉、◯を入れ、またよくこねます。時間に余裕があれば、肉だねは冷蔵庫で３０分～１時間ほど寝かせる。</p>
          <p><span>3. </span>２を約１２等分して、梅ペースト、チーズを包んで棒状に形を整えたら、バットなどに並べておきます。</p>
          <p><span>4. </span>３にコーンスターチを薄くまんべんなくまぶします。</p>
          <p><span>5. </span>フライパンに多めの油を熱し、中火で４を揚げ焼きにして、完成。</p>
          <p class="text-center"><a href="https://cookien.com/recipe/434/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
        </div>
    </div>
</div>