<p><%= image_tag 'recipe/number/no3.png', class: 'number-img' %>ちょっと一工夫！鮭の焦がし醤油酒蒸し</p>
<span>調理時間:20分</span>
<span>冷蔵保存:5日</span>
<span>容量:保存容器大1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>魚好きの子供達なので骨をとってる私に「あーん、あーん」とせがんでくるほどでした</p>
     <%= image_tag 'recipe/img/salmon_shouyu.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>鮭  ３切</li>
           <li>◯酒  大１</li>
           <li>◯レモン汁  小１／２</li>
           <li>◯塩コショウ  少々</li>
           <li>小麦粉  適量</li>
           <li>◎酒  大１</li>
           <li>◎醤油  大１</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>鮭は骨を抜き、食べやすい大きさに切る。</p>
        <p><span>2. </span>鮭に◯の調味料で下味をつけます。塩（３つまみ程度）をまんべんなくすり込み、コショウをふり、レモン汁、酒を加えてねかせます。</p>
        <p><span>3. </span>２の鮭にまんべんなく小麦粉をつけ、フライパンに少し多めの油を熱し、皮目から焼きます。<p>
        <p><span>4. </span>皮が良い色になったら、裏面も焼きます。</p>
        <p><span>5. </span>表面が焼けたら、◎の調味料を加え、フタをして蒸し焼きにします。</p>
        <p><span>6. </span>醤油の良い匂いがしたら火を止めて、完成。お好みで小ねぎを散らします。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/1530/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>
      