 <p><%= image_tag 'recipe/number/no1.png', class: 'number-img' %>我が家のみんなが大好き！ドライカレー</p>
 <span>調理間:30分</span>
 <span>冷蔵保存:5日</span>
 <span>容量:保存容器大1個分</span>
 <div class="recipe-more">
      <p class="recipe-click">+ recipe & ingredient +</p>
           <div class="recipe-contain">
           <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>ズッキーニが苦手な我が家は、その分玉ねぎを１個分に増やしました。パパも子供達も大好きです！</p>
           <%= image_tag 'recipe/img/dry-curry.jpg', class: 'recipe-img' %>
           <div class="ingredient">
              <p>● 材料 ●</p>
              <ul>
                 <li>豚ひき肉  約３００ｇ</li>
                 <li>◯にんじん  １本</li>
                 <li>◯たまねぎ  １／２個</li>
                 <li>◯ピーマン  ３個</li>
                 <li>◯ズッキーニ  １本</li>
                 <li>◯にんにく  １かけ</li>
                 <li>◯しょうが  １かけ</li>
                 <li>トマト大  １個</li>
                 <li>◎ケチャップ  大３</li>
                 <li>◎カレー粉  大１．５</li>
                 <li>◎顆粒コンソメ  小１</li>
                 <li>◎オイスターソース  小１</li>
                 <li>塩  少々</li>
              </ul>
           </div>
           <div class="clear"></div>
           <div class="recipe-how-to-make">
              <p>● 作り方 ●</p>
              <p><span>1. </span>◯の野菜はすべてみじん切りにします。トマトは角切りにします。</p>
              <p><span>2. </span>フライパンに油を熱し、弱めの中火でにんにく、しょうがを香りが立つまで炒めます。</p>
              <p><span>3. </span>２に豚ひき肉を入れ、中火でそぼろ状になるまで炒めます。切った野菜をすべて入れ、トマトをつぶしながら炒め合わせます。</p>
              <p><span>4. </span>野菜に火が通ったら◎を入れ、水分が飛ぶまで炒め合わせます。仕上げに塩で味をととのえて、完成。</p>
              <p class="text-center"><a href="https://cookien.com/recipe/6983/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
           </div>
      </div>
 </div>