<p><%= image_tag 'recipe/number/no3.png', class: 'number-img' %>ピーマンとちくわのキンピラ</p>
<span>調理時間:10分</span>
<span>冷蔵保存:5日</span>
<span>容量:保存容器中1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>息子はピーマンが苦手...器用にピーマンだけ残してました</p>
     <%= image_tag 'recipe/img/pepper_chikuwa_kimpira.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>ピーマン  ４〜５個（</li>
           <li>ちくわ  ２〜３本</li>
           <li>ごま油  炒め用</li>
           <li>◎酒大さじ  １．５</li>
           <li>◎みりん  大さじ２</li>
           <li>◎醤油  小２</li>
           <li>いりごま  適量</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>ピーマンは細切りに、ちくわは薄く斜め切りにしておきます。</p>
        <p><span>2. </span>フライパンにごま油を入れて熱し、１を炒めます。</p>
        <p><span>3. </span>酒、みりんをフライパンに入れ、炒め合わせます。</p>
        <p><span>4. </span>３の汁気が飛んだところへ醤油を入れて炒めます。</p>
        <p><span>5. </span>最後にいりごまを入れて、完成。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/840/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>