<p><%= image_tag 'recipe/number/no7.png', class: 'number-img' %>かぼちゃの煮物</p>
<span>調理時間:15分</span>
<span>冷蔵保存:5日</span>
<span>容量:保存容器大1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>余ると潰してマヨネーズと混ぜたりしてサラダに使ってます</p>
     <%= image_tag 'recipe/img/kabocha-nimono.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>かぼちゃ  １／４個（約５００ｇ）</li>
           <li>◎酒  大１</li>
           <li>◎みりん  大１</li>
           <li>◎醤油  大１</li>
           <li>◎砂糖  大１</li>
           <li>◎水  １００ｍＬ</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>かぼちゃはスプーンなどで種を取り除き、皮をところどころそぐようにむいたら、ひとくち大に切ります</p>
        <p><span>2. </span>鍋にかぼちゃを皮目を下にしてしき詰めます。◎を入れ、ふたをして火にかけます。</p>
        <p><span>3. </span>煮立ったらふたを取ります。落しぶたをし、弱火でやわらかくなるまで煮て、完成<p>
        <p class="text-center"><a href="https://cookien.com/recipe/69/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>