<p><%= image_tag 'recipe/number/no9.png', class: 'number-img' %>万能！つぶつぶマスタードのコールスロー</p>
<span>調理時間:30分</span>
<span>冷蔵保存:3日</span>
<span>容量:保存容器大1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>パパのランチのサインドウィッチにはさんだりー我が家では大活躍！</p>
     <%= image_tag 'recipe/img/mustard-coleslaw.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>キャベツ  １／２玉（約４００ｇ）</li>
           <li>にんじん  １／３本（約５０ｇ）</li>
           <li>コーン  約５０ｇ</li>
           <li>塩  小１</li>
           <li>◎調味酢  大２</li>
           <li>◎マヨネーズ  大２</li>
           <li>◎粒マスタード  大１．５</li>
           <li>◎ブラックペッパー  お好みで</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>キャベツは水洗いして水気を切り、せん切りにします。にんじんは皮をむき、長さ４ｃｍのせん切りにします。</p>
        <p><span>2. </span>ボウルにキャベツ、にんじん、塩を入れ、もみ込みます。ざるにあげて１０～２０分ほど置いておき、手でしぼってしっかりと水気を切ります</p>
        <p><span>3. </span>ボウルに◎を入れ、よく混ぜ合わせます。２、コーンを入れ、全体に味がいきわたるよう和えて、完成<p>
        <p class="text-center"><a href="https://cookien.com/recipe/3468/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>