<p><%= image_tag 'recipe/number/no5.png', class: 'number-img' %>簡単！美味しい！枝豆塩こんぷ</p>
<span>調理時間:5分</span>
<span>冷蔵保存:7日</span>
<span>容量:保存容器小1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>むき枝豆だとさらに簡単！</p>
     <%= image_tag 'recipe/img/edamame_siokombu.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
            <li>冷凍えだまめ  ３００gくらい</li>
            <li>◎塩こんぶ  ひとつかみ</li>
            <li>◎調味酢  大１</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>冷凍えだまめは流水で解凍し、むいておきます。</p>
        <p><span>2. </span>ボウルに◎を入れます。</p>
        <p><span>3. </span>２に１を入れて混ぜ合わせ、完成。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/401/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>