<p><%= image_tag 'recipe/number/no2.png', class: 'number-img' %>お酒のつまみに！もやしナムル</p>
<span>調理時間:5分</span>
<span>冷蔵保存:3日</span>
<span>容量:保存容器中1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>我が家の子供達の大好物！</p>
     <%= image_tag 'recipe/img/moyasi-namul-yamitukipirikara.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>もやし  １袋（２００ｇ）</li>
           <li>水  １Ｌ</li>
           <li>穀物酢  大１／２</li>
           <li>◎醤油  大１／２</li>
           <li>◎ごま油  大１／２</li>
           <li>◎中華スープの素  小１／２</li>
           <li>◎豆板醤  小１／３</li>
           <li>◎にんにくチューブ  ２ｃｍ</li>
           <li>◎いりごま  大１／２</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>鍋に水と酢を入れ、沸騰させます（メモ２）。もやしは水洗いして水気を切ります。</p>
        <p><span>2. </span>沸騰したら強めの中火にします。もやしを入れ、少しずらしてふたをし、１分３０秒ゆでます。</p>
        <p><span>3. </span>ざるにあげてあら熱を取り、キッチンペーパーでおさえて水気をふき取ります</p>
        <p><span>4. </span>ボウルに◎を入れ、よく混ぜ合わせます。３を入れ、よく和えて、完成。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/577/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>