<p><%= image_tag 'recipe/number/no1.png', class: 'number-img' %>もう一品欲しい時に大活躍！にんじんしりしり</p>
<span>調理時間:10分</span>
<span>冷蔵保存:4日</span>
<span>容量:保存容器大1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>メイン料理の横にそっと添えて出してます</p>
     <%= image_tag 'recipe/img/ninjin_sirisiri.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>にんじん  １本（約１５０ｇ）</li>
           <li>卵  １個</li>
           <li>ごま油  大１．５</li>
           <li>◎白だし  小２</li>
           <li>◎醤油  小１</li>
           <li>いりごま  適量</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>にんじんは皮をむき、なるべく細いせん切りにします（メモ１）。卵はボウルで溶きほぐします。</p>
        <p><span>2. </span>フライパンにごま油を熱し、中火でにんじんをくたっとなるくらいまで炒めます。</p>
        <p><span>3. </span>２に◎を入れ、全体に味がいきわたるよう炒め合わせます。<p>
        <p><span>4. </span>３に溶き卵を入れ、手早く炒め合わせます（メモ２）。仕上げにいりごまを入れ、全体をさっと炒めて、完成。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/1095/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>