<p><%= image_tag 'recipe/number/no8.png', class: 'number-img' %>エノキとチンゲンサイのおひたし</p>
<span>調理時間:10分</span>
<span>冷蔵保存:4日</span>
<span>容量:保存容器大1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>子供達はあまり．．．ですが、私は好きです</p>
     <%= image_tag 'recipe/img/enoki_chingen.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>えのきは石づきを落とし、３等分に切ります。チンゲン菜は４ｃｍ幅くらいに切ります。</p>
        <p><span>2. </span>鍋にお湯を沸かし、チンゲン菜を茎の部分から入れて１分ほど茹で、ザルに上げて水気を切っておきます。</p>
        <p><span>3. </span>再び鍋にお湯を沸かし、えのきを１分ほど茹でて、ザルに上げて水にさらし、水気を切っておきます。<p>
        <p><span>4. </span>ボウルに◎の調味料を入れて、２と３を和えて、完成。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/3628/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>