<p><%= image_tag 'recipe/number/no6.png', class: 'number-img' %>栄養満点！ほうれん草おかか和え</p>
<span>調理時間:10分</span>
<span>冷蔵保存:3日</span>
<span>容量:保存容器中1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>子供達は残さず食べてくれました</p>
     <%= image_tag 'recipe/img/hourensou_okaka.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>ほうれん草  １袋</li>
           <li>塩  適量</li>
           <li>◎醤油  大１／２</li>
           <li>◎白だし  小１</li>
           <li>◎かつお節小分け  １／２袋</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>ほうれん草は根元をよく洗い、片手鍋にたっぷりめの水と塩を入れ、お湯を沸かしておきます。</p>
        <p><span>2. </span>沸騰したら、ほうれん草の根元から片手鍋に入れ、数秒先に茹でます。</p>
        <p><span>3. </span>葉まで入れ込み、ふたをして茹でます。<p>
        <p><span>4. </span>茹で上がったら、ざるに取り、あら熱を取ります。</p>
        <p><span>5. </span>根元を切り落とし、４等分に切り、手で軽く握るようにして余分な水分をとります。</p>
        <p><span>6. </span>◎の調味料と合わせて、完成。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/1624/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>
</div>