<p><%= image_tag 'recipe/number/no10.png', class: 'number-img' %>パパが大好き！春雨サラダ</p>
<span>調理時間:10分</span>
<span>冷蔵保存:3日</span>
<span>容量:保存容器大1個分</span>
<div class="recipe-more">
  <p class="recipe-click">+ recipe & ingredient +</p>
  <div class="recipe-contain">
     <p><%= image_tag 'recipe/tool/cooking-face.png', class: 'cooking-face-img' %>子供達もよく食べるので我が家の常備菜です！</p>
     <%= image_tag 'recipe/img/chinese-vermicelli-salad.jpg', class: 'recipe-img' %>
     <div class="ingredient">
        <p>● 材料 ●</p>
        <ul>
           <li>乾燥春雨  約４０ｇ</li>
           <li>ハム  ４枚</li>
           <li>きゅうり  １本</li>
           <li>にんじん  １／２本（約６０ｇ）</li>
           <li>牛乳  大１</li>
           <li>◎調味酢  大４</li>
           <li>◎砂糖  大２</li>
           <li>◎醤油  大１．５</li>
           <li>◎ごま油  大１．５</li>
           <li>◎しょうがチューブ  ５ｃｍ</li>
           <li>◎いりごま  適量</li>
        </ul>
     </div>
     <div class="clear"></div>
     <div class="recipe-how-to-make">
        <p>● 作り方 ●</p>
        <p><span>1. </span>鍋にたっぷりの水と牛乳を入れて火にかけます。沸騰したら、乾燥春雨を入れてゆでます。ゆでたら、ざるにあげて水気を切ります。</p>
        <p><span>2. </span>きゅうりは両端を切り落とし、にんじんは皮をむき、それぞれ細切りにします。ハムも細切りにします。</p>
        <p><span>3. </span>にんじんを耐熱容器に入れます。ふわりとラップをし、５００ｗの電子レンジで１～２分ほど加熱し、水気を切ります。<p>
        <p><span>4. </span>ボウルに◎を入れて混ぜ合わせたら、すべての食材を入れ、よく和えて、完成（メモ４）。</p>
        <p class="text-center"><a href="https://cookien.com/recipe/6754/" target="_blank">詳しいレシピはこちら<%= image_tag 'recipe/tool/cooking-tool1.png', class: 'tool-img' %></a></p>
     </div>
  </div>