<li>
    <% post = Post.find_by(id: comment.post_id) %>
    <%= image_tag 'post/comment.png', class: 'show-like-img' %>
    <span>■ <%= link_to post.title, post_path(post)  %></span></br>
    <span>☆ <%= comment.content %></span>
</li>