<% provide(:title, 'Member list') %>
<%= image_tag 'user/user-line.png', class: 'user-line-img' %>
<div class="container">
    <h1>Member list</h1>

    <%= will_paginate renderer: BootstrapPagination::Rails %>
    
    <ul class="users">
        <%= render @users %>
    </ul>
    
    <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>