<li class="row comment">
    <div class="col-sm-8 break">
        ■ <%= comment.content %>
    </div>
    <div class="col-sm-4">
        <% user = User.find(comment.user_id)
        <% if user.image? %>
            <%= image_tag user.image.thumb.url %>
        <% else %>
            <%= image_tag 'user/user-face.png', class: 'index-user-face-img' %>
        <% end %>
        <%= user.name %>
    </div>
</li>