<li class="row comment">
    <div class="col-sm-8 break">
        ■ <%= comment.content %>
    </div>
    <div class="col-sm-4">
        <% if @post.user.image? %>
            <%= image_tag @post.user.image.thumb.url %>
        <% else %>
            <%= image_tag 'user/user-face.png', class: 'index-user-face-img' %>
        <% end %>
        <%= comment.user.name %>
    </div>
</li>