<li claa="post-contents">
    <% if detail.image? %>
        <%= image_tag detail.image.post.url %>
    <% else %>
        <%= image_tag 'post/photo.png', width: "50%" %>
    <% end %>
    <p class="detail-content break"><%= detail.content %></p>
</li>