// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin fram($weight, $color) {
  padding: 1em;
  border: $weight solid $color;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

@mixin decoration($weight, $color) {
  padding: .25em 0 .25em .75em;
  border-left: $weight solid $color;
}

// index
.post-sample {
    border-top: dashed 2px #ccc;
    border-bottom: dashed 2px #ccc;
}

.post-contents {
    .picture-content {
        background: #efefef;
        .post-img {
            width: 100%;
        }
        .index-sample-img {
            width: 30%;
        }
    }
    .post-content {
        padding: 10px 0 10px 20px;
        .sample-user-img {
            width: 50px;
            height: 50px;
        }
    }
    .photo-img {
        width: 100%;
    }
}

.likes-content-comment {
    margin-top: 60px;
    padding: 0;
}

.likes-content {
    margin-top: 60px;
    padding: 0 10px;
    position: relative;
    .category {
        position: absolute;
        bottom: 70px;
        right: 45px;
        z-index: 10;
        font-size: 10px;
    }
    .category-img {
        position: absolute;
        bottom: 50px;
        right: 20px;
        width: 100px;
    }
    .likes-count {
        position: absolute;
        bottom: 8px;
        right: 55px;
        z-index: 10;
        font-size: 20px;
    }
    .like-img {
        width: 80px;
        margin: 0;
    }
    .a {
        height: 0;
    }
    input {
    border: none;
    padding: 0;
    }
}

.likes-info {
    font-size: 13px;
    @include fram(1px, #ccc);
    padding: 10px;
}

.post-index li {
    border-bottom: dashed 1px #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.comment-field {
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

.comment-submit {
    width: 15%;
    background: #ccc;
    float: right;
    font-size: 15px;
}

// show
.post-show-top {
    margin-bottom: 10px;
}
.main-content {
    font-size: 18px;
}
.detail-content {
    margin: 10px 0;
    @include decoration(8px, #e29399);
   font-size: 18px;
}

.post-delete {
    background: #a5c9c1;
}

.post-delete, .post-edit {
    padding: 5px;
    text-align: center;
    margin: 0 5px 10px 0;
    border-radius: 3px;
    font-size: 18px;
}
.post-edit {
    background:#ead7a4;
}

.post-comment {
    text-align: center;
    font-family: Papyrus;
    font-size: 20px;
}




// new

.post-new input, textarea {
    width: 100%;
    border-radius: 5px;
}

.to-add {
    padding: 5px 20px;
    background: #e29399;
    border-radius: 3px;
}
    
.to-remove {
    padding: 5px 20px;
    margin-bottom: 15px;
    background: #a5c9c1;
    border-radius: 3px;
    width: 30%;
    text-align: center;
}

.post-submit {
    width: 100%;
    margin-top: 20px;
}

