// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-title: 'Wawati SC', 'Bradly Hand';
@mixin fram($weight, $color) {
  padding: 1em;
  border: $weight solid $color;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.home-menu {
   .fixed-post, .fixed-myPage, .fixed-logout, .fixed-menu, .fixed_details {
        position: fixed;
        right: 0px;
        margin: 0;
        z-index: 100;
        @include fram(1px, #ccc);
        font-family: $font-title;
    }
    .fixed-post {
        top : 500px;
    }
    .fixed-myPage {
        top : 560px;
    }
    .fixed-logout {
        top : 680px;
    } 
    .fixed-menu {
        top : 620px;
    }
    .fixed_details {
        top : 380px;
    }
}

.header-img {
    width: 50px;
}

.header-text {
    font-size: 50px;
    font-family: $font-title;
    span {
        font-size: 30px;
        font-family: $font-title;
    }
}

.top-img {
    width: 100%;
}

.menu-img {
    width: 100%;
}

#fixed {
    .signUp-img {
        width: 200px;
        height: 200px;
        position: fixed;
        top: -120px;
        right: 0px;
        margin: 0;
        z-index: 100;
    }
    .login-img {
        width: 200px;
        height: 200px;
        position: fixed;
        bottom: -100px;
        left: -112px;
        margin: 0;
        z-index: 100;
    }
    #signUp-img, #login-img {
        position: absolute;
        top: 8px;
        left: 13px;
    }
}

// home

.proverb {
    @include fram(3px, #ccc);
    margin: 20px 0;
    h3 {
        font-family: $font-title;
        margin: 5px;
    }
    .sentence {
        font-size: 18px;
    }
}

.tooltip-inner {
    text-align: left;
    color: #504946;
    background-color: #efefef;
    border: #504946;
    max-width: 100%;
    padding: 20px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #efefef;
}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.more-info-img {
    width: 30px;
    height: 30px;
}

.more-info {
    display: none;
}

.post-img {
    width: 100%;
}

.post-title {
    margin: 5px 0;
    font-size: 20px;
    text-align: left;
}

.info {
    margin: 10px 0;
    .more-info {
        background: #efefef;
    }
}

.shared-photo-img {
    width: 100%;
    background: #efefef;
}

// home-modal

.close-img {
    width: 25px;
}

.modal-img {
    width: 20%;
    float: right;
}

/*
Pure CSS home-modal box
Author: Jorge Chavez
Github: http://github.com/jorgechavz
*/

.home-modal-wrap > h3,p {
  font-size: 18px;
}

.about-img {
  float: right;
  width: 30%;
  margin: 0 auto;
}

.home-modal .checkbox{
  display: none;
}

/* Gray background */
.home-modal .home-modal-overlay{
  transition: all 0.3s ease;
  width: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  transform: scale(1);
  display: none;
  background-image: url("/modal-back.png");
  opacity: 0.1;
}

/* Box */
.home-modal .home-modal-wrap{
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  padding: 40px 50px;
  width: 100%;
  margin: 20px auto;
  align-self: flex-start;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.home-modal .home-modal-wrap.small{
  width: 30%;
}

.home-modal .home-modal-wrap.full{
  width: 100%;
  height: 100%;
}

.home-modal .home-modal-wrap.a-center {
  align-self: center;
}

.home-modal .home-modal-wrap.from-left {
  transform: translateX(-100%);
}

.home-modal .home-modal-wrap.from-right {
  transform: translateX(100%);
}

.home-modal .home-modal-wrap.from-top {
  transform: translateY(-100%);
}

.home-modal .home-modal-wrap.from-bottom {
  transform: translateY(100%);
}

/* Close button */
.home-modal .home-modal-overlay .close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  width: 30px;
  height: 30px;
  color: #282c34;
}

.home-modal .home-modal-overlay .close:hover{
  cursor: pointer;
  color: #4b5361;
}

.home-modal .o-close {
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: -100;
 }

.home-modal input:checked ~ .o-close {
  z-index: 9998;
}

.home-modal input:checked ~ .home-modal-overlay{
  transform: scale(1);
  opacity:1;
  z-index: 9997;
  overflow: auto;
  display: flex;
  animation-duration: 0.5s;
  animation-name: fade-in;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade-in;
}
.home-modal input:checked ~ .home-modal-overlay .home-modal-wrap {
  transform: translateY(0);
  z-index: 9999;
}

/* Responsive Design */
/* Tablet size */
@media (max-width: 800px){
  .home-modal .home-modal-wrap {
    width: 80%;
    padding: 20px;
  }
}

/* Phone size */
@media (max-width: 500px){
  .home-modal .home-modal-wrap {
    width: 90%;
  }
}

/* Fadein from display:none */
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}