// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-line-img {
    width: 100%;
    height: 60px;
}

.signUp {
    border-bottom: dashed 2px #ccc; 
}
.signUp-img {
    width: 30%;
}

.submit {
    background: #ccc;
    font-size: 16px;
}
// login
.signin-link {
    margin: 10px 0;
}

// show
.show-user-face-img{
    width: 100%;
    border-radius: 50%;
}

.user-message {
    padding: 20px;
    p {
      position: relative;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
        &::before,
        &::after {
          position: absolute;
          top: 100%;
          left: 30px;
          content: '';
          height: 0;
          width: 0;
          border: 10px solid transparent;
        }
        &::before {
          border-top: 15px solid #ccc;
        }
        &::after {
          margin-top: -2px;
          border-top: 15px solid #fff;
        }
    }
}
/* microposts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus{
    color: #7d7b83;
    background-color: #ccc;
}

.nav-link {
    border: 1px #ccc solid;
    margin: 10px 5px 10px 0;
}
// index
.index-user-face-img {
    width: 50px;
    height: 50px;
}

.users {
    li {
        overflow: auto;
        padding: 10px;
        border-bottom: 1px dashed #ccc;
    }
}

.surch {
    input {
        width: 30%;
        padding: 10px;
        border-radius: 2px;
        margin: 0;
        float: right;
       
    }
    .surch-submit input {
        background: #efefef;
        width: 20%;
        margin: 0 5px;
    }
}
