// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin fram($weight, $color) {
  padding: 1em;
  border: $weight solid $color;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.user-line-img {
    width: 100%;
    height: 60px;
    object-fit: fill;
}

.signUp {
    border-bottom: dashed 2px #ccc; 
}
.signUp-img {
    width: 30%;
}

.submit {
    background: #ccc;
    font-size: 16px;
}

// login
.signin-link {
    margin: 10px 0;
}

// show
.show-user-face-img{
    width: 100%;
    border-radius: 30%;
}

.user-message {
    padding: 20px;
    p {
      position: relative;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
        &::before,
        &::after {
          position: absolute;
          top: 100%;
          left: 30px;
          content: '';
          height: 0;
          width: 0;
          border: 10px solid transparent;
        }
        &::before {
          border-top: 15px solid #ccc;
        }
        &::after {
          margin-top: -2px;
          border-top: 15px solid #fff;
        }
    }
}

.friends-box {
    p {
        margin: 10px 5px;
    }
    .friend, .request_friend {
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
        display: inline-block;
    }
    .friend {
        background: #ccc;
    }
    .request_friend {
        background: #efefef;
    }
}

.receive_friend input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.receive-message span{
    font-size: 18px;
}

.talk-btn {
    width: 100%;
    background: #e6c0c0;
}

/* microposts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus{
    color: #7d7b83;
    background-color: #ccc;
}

.nav-link {
    border: 1px #ccc solid;
    margin: 10px 5px 10px 0;
}

.show-like-img {
    width: 50px;
}

.count {
    background: #aaaab0;
    border-radius: 30%;
    padding: 3px 10px;
    color: #fff;
}

// friends_list

.friends-list {
    margin: 10px 0;
    padding: 10px 0;
}

.list-border {
    border-bottom: dashed 1px #ccc;
}

.status-img, .request-status-img, .receive-status-img {
    margin: 10px;
}

.status-img, .request-status-img {
    width: 100%;
}

.receive-status-img {
    width: 80%;
}

.friends-tag {
    background: #ccc;
    border-radius: 5%;
    padding: 8px;
    margin-right: 10px;
}
// index
.index-user-face-img {
    width: 50px;
    height: 50px;
}

.users {
    li {
        overflow: auto;
        padding: 10px;
        border-bottom: 1px dashed #ccc;
    }
}

.surch {
    input {
        width: 30%;
        padding: 10px;
        border-radius: 2px;
        margin: 0;
        float: right;
       
    }
    .surch-submit input {
        background: #efefef;
        width: 20%;
        margin: 0 5px;
    }
}

// talk
.talk-box {
    margin: 10px 15px;
    .talk-user-face-img {
        width: 50px;
        height: 50px;
    }
    .talk-fram {
        @include fram(2px, #ccc);
        background: #ccc;
    }
    .talk-fram-user {
        @include fram(2px, #ccc);
    }
}

.talk input {
    width: 100%;
    background: #ccc;
}








